.content-header {
	margin-bottom: 20px;
	padding: 0 5px;
	display: inline-block;
	border-radius: 2px;
	border: 2px solid $border-color;
	background-color: $box-shadow-color;
	font-weight: bold;
	text-transform: uppercase;
}

.content-wrapper {
	margin-bottom: 20px;
}

.content-label {
	margin-bottom: 5px;
	padding: 0 5px;
	display: inline-block;
	border-radius: 2px;
	background-color: $box-shadow-color;
	font-weight: bold;
	border: 1px solid $border-color;
}

.content {
	margin: 0 5px;
}

.list {
	list-style-position: inside;
}
