@use 'lib/color-variables';

.dropdown-menu {
	padding: 8px !important;
	box-sizing: border-box;
}

.dropdown-item {
	padding: 8px 4px !important;
	box-sizing: border-box;
	line-height: 20px;
	color: color-variables.$default-text-color !important;
	cursor: pointer !important;
}

.dropdown-item:not(:last-child) {
	border-bottom: 1px solid color-variables.$autocomplete-option-border-color !important;
}

.dropdown-item.active, .dropdown-item:active {
	color: color-variables.$autocomplete-selected-option-color !important;
	background-color: color-variables.$autocomplete-selected-option-background-color !important;
	border-color: color-variables.$autocomplete-selected-option-background-color !important;

	.dropdown-item-suffix {
		color: color-variables.$autocomplete-selected-option-color;
	}
}

.dropdown-item-suffix {
	color: color-variables.$autocomplete-option-suffix-color;
}
