@use 'lib/color-variables';

@mixin label {
	padding: 0 5px;
	display: inline-block;
	border-radius: 2px;
	background-color: color-variables.$box-shadow-color;
	font-weight: bold;
	border: solid color-variables.$border-color;
}

.instance-label {
	@include label;
	margin-bottom: 20px;
	border-width: 2px;
	text-transform: uppercase;
}

.instance-facet-wrapper {
	margin-bottom: 20px;
}

.instance-facet-label {
	@include label;
	margin-bottom: 5px;
	border-width: 1px;
}

.instance-facet-content {
	margin: 0 5px;
}

.instance-facet-subheader {
	font-weight: bold;
}

.instance-facet-group:not(:last-child) {
	margin-bottom: 20px;
}
