.instance-label {
	margin-bottom: 20px;
	padding: 0 5px;
	display: inline-block;
	border-radius: 2px;
	border: 2px solid $border-color;
	background-color: $box-shadow-color;
	font-weight: bold;
	text-transform: uppercase;
}

.instance-facet-wrapper {
	margin-bottom: 20px;
}

.instance-facet-label {
	margin-bottom: 5px;
	padding: 0 5px;
	display: inline-block;
	border-radius: 2px;
	background-color: $box-shadow-color;
	font-weight: bold;
	border: 1px solid $border-color;
}

.instance-facet-content {
	margin: 0 5px;
}

.instance-facet-subheader {
	font-weight: bold;
}

.instance-facet-group:not(:last-child) {
	margin-bottom: 20px;
}
