* {
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	color: $default-text-color;
	text-decoration: none;
}

html {
	height: 100%;
	text-align: center;
	background-color: $html-bg-color;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

a {
	color: $theme-color;

	&:hover {
		color: $default-text-color;
	}
}

.app {
	display: flex;
	flex: auto;
	margin: 0 auto;
}

.page-container {
	@extend .app;
	width: 1000px;
	flex-direction: column;
	background-color: $content-bg-color;
	border-left: solid $border-color;
	border-right: solid $border-color;
	border-width: 0 2px 2px;
	box-shadow:  5px 5px 100px $border-color, 5px 5px 100px $box-shadow-color;
	text-align: left;
}

.main-content {
	flex: auto;
	margin-bottom: 80px;
	padding: 0 50px;
	font-size: small;
}
