@use 'lib/color-variables';

.title-text {
	margin: 0 5px 20px 5px;
	padding-bottom: 0px;
	font-size: xx-large;
	color: color-variables.$theme-color;
}

.fictional-name-text {
	font-style: italic;
}

.nomination-winner-text {
	font-weight: bold;
}
