.footer {
	height: 20px;
	background-color: var(--header-background-color);
	font-weight: bold;
}

.footer__text {
	margin-top: 4px;
	padding: 0 10px;
	font-size: x-small;
	color: var(--header-text-color);
}

.footer__text--left {
	float: left;
}

.footer__text--right {
	float: right;
}
