.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-background-color);
	padding: 0 10px;
}

.header__component {
	flex: 1;
}

.header__home-link {
	font-size: 65px;
	font-weight: bold;
	color: var(--header-text-color);
	transition: color 0.5s;

	&:hover {
		color: var(--header-text-color-hover);
	}
}
