.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-background-color);
	padding-right: 10px;
}

.header__component {
	flex: 1;
}

.header__home-link {
	display: inline-flex;
	vertical-align: bottom;
	align-items: center;
	gap: 10px;
	line-height: 1;
	font-size: 65px;
	font-weight: bold;
	color: var(--header-text-color);
	transition: color 0.5s;

	&:hover {
		color: var(--header-text-color-hover);
	}

	.header__home-link-icon {
		margin: 5px;
		width: 1em;
		height: 1em;
		background-color: currentColor;
		mask: url('/assets/header-logo-icon.svg') center / contain no-repeat;
	}
}
