.instance-label,
.instance-facet-label {
	padding: 0 5px;
	display: inline-block;
	border-radius: 2px;
	background-color: var(--box-shadow-color);
	font-weight: bold;
	border: solid var(--border-color);
}

.instance-label {
	margin-bottom: 20px;
	border-width: 2px;
	text-transform: uppercase;
}

.instance-facet-wrapper {
	margin-bottom: 20px;
}

.instance-facet-label {
	margin-bottom: 5px;
	border-width: 1px;
}

.instance-facet-content {
	margin: 0 5px;
}

.instance-facet-subheader {
	font-weight: bold;
}

.instance-facet-group:not(:last-child) {
	margin-bottom: 20px;
}

.nested-instance {
	margin-bottom: 20px;
	padding: 10px 10px 0px;
	background-color: var(--nested-instance-background-color);
	border: 2px solid var(--border-color);
	border-radius: 5px;
}
