.title-text {
	margin: 0 5px 20px 5px;
	padding-bottom: 0px;
	font-size: xx-large;
	color: var(--default-text-color);
}

.subtitle-text {
	margin: 0 5px 20px 5px;
	padding-bottom: 0px;
	font-size: x-large;
	color: var(--default-text-color);
}

.fictional-name-text {
	font-style: italic;
}

.nomination-winner-text {
	font-weight: bold;
}
