version: 2
jobs:
  build:
    docker:
      - image: cimg/node:24.8.0
    steps:
      - checkout
      - run:
          name: Install
          command: npm install
      - run:
          name: Lint checks
          command: npm run lint-check
      - run:
          name: Unit tests
          command: npm run unit-test
